/build
bin
obj
/src/packages/Catel.*
/src/packages/Fody.*
/src/packages/log4net.*
/src/packages/NUnit*
/src/packages/NSubstitute*
/src/*.suo
/src/*.user
/src/.nuget/*.old
/src/tests/UUM.Engine.Tests/OpenCover/coverage.xml
